@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font (make sure .woff2 is present in /fonts) */
@font-face {
  font-family: "FKGroteskNeue";
  src: url("./fonts/FKGroteskNeue.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "FKGroteskNeue", sans-serif;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
